<footer class="site-footer" dir="rtl">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 me-auto">
                <em class="text-white d-block mb-4">آدرس:</em>
                <strong class="text-white">
                    <i class="bi-geo-alt me-2"></i>
                    قزوين، بلوارپرستار،نبش کوچه‌ی حکمت 30، پلاک 76،طبقه‌5
                </strong>
                <em class="text-white d-block mb-4 mt-2">کد پستی:</em>
                <strong class="text-white mt-2">
                    <i class="bi bi-postcard me-2"></i>
                    3414689168
                </strong>
                <ul class="social-icon mt-4">
                    <li class="social-icon-item">
                        <a href="https://t.me/maanertebat" target="_blank" class="social-icon-link bi-telegram">
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="https://wa.me/message/ESHTHA27SUJYA1" target="_new" class="social-icon-link bi-whatsapp">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-12 mt-4 mb-3 mt-lg-0 mb-lg-0">
                <em class="text-white d-block mb-4">تماس با ما</em>

                <p class="d-flex mb-1">
                    <strong class="me-2">شماره تلفن:</strong>
                    <a href="tel: +989931018342" class="site-footer-link">
                        9931018342
                        (98)
                    </a>
                </p>
                <p class="d-flex mb-1">
                    <strong class="me-2 mr">شماره تلفن:</strong>
                    <a href="tel: +989104802505" class="site-footer-link">
                        9104802505
                        (98)
                    </a>
                </p>
                <p class="d-flex">
                    <strong class="me-2">ایمیل:</strong>
                    <a href="mailto:info@maanertebat.com" class="site-footer-link">
                        info@maanertebat.com
                    </a>
                </p>
            </div>


            <div class="col-lg-3 col-12">
                <em class="text-white d-block mb-4">دسترسی</em>
                <ul class="opening-hours-list">
                    <li class="d-flex">
                        <a href="/Message/Message" class="site-footer-link">ارتباط با ما</a>
                    </li>
                    <li class="d-flex">
                        <a href="/Archive" class="site-footer-link">آرشیو</a>
                    </li>
                    @* <li class="d-flex"> *@
                    @*     <a href="" class="site-footer-link">مقالات</a> *@
                    @* </li> *@
                </ul>
            </div>
            <div class="col-lg-3 col-12">
                <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d803.8667449572839!2d50.01136026963305!3d36.30098107909543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzbCsDE4JzAzLjUiTiA1MMKwMDAnNDMuMiJF!5e0!3m2!1sen!2sus!4v1698063038018!5m2!1sen!2sus"  style="border: 0; width: 100%;height: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-12 col-12 mt-4" dir="ltr">
                <p class="copyright-text mb-0 text-center">
                    Copyright © info@maanertebat.com- Design:<a rel="sponsored" href="https://www.maanertebat.com" target="_blank">Maan</a>
                </p>
            </div>
        </div>
    </div>
</footer>