<div id="sticky-wrapper" class="sticky-wrapper" style="height: 154px;" dir="rtl">
    <nav class="navbar navbar-expand-lg" style="">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="~/images/ImageSite/logo.png" class="navbar-brand-image img-fluid" alt="مان">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
               
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll " href="#section_1">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll " href="#section_2">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll " href="#project_groups">زمینه های فعالیت</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll " href="/Archive">آرشیو</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll " href="#section_3">نمونه کار</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll " href="#section_5">تماس با ما</a>
                    </li>
                </ul>

                <div class="ms-lg-3">
                    <a class="btn custom-btn custom-border-btn" href="/Message/Message">
                        ارتباط با ما
                        <i class="bi-arrow-up-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>