<header class="header fixed-top d-flex align-items-center">

    <div class="br-header d-flex w-100">
        <a id="add-menu" class="la la-navicon d-flex d-xl-none align-items-center justify-content-center"></a>
        <div class="br-header-left">
            <a href="javascript:;" class="searchbar-toggle la la-search d-flex d-md-none" dir="rtl"></a>
            <form class="searchbar d-flex align-items-center pl-4">
                <i class="la la-search"></i>
                <input class="form-control border-0 pl-2" type="search" placeholder="جستجو ">
            </form>
        </div>
    </div>
</header>
