<header class="header fixed-top d-flex align-items-center">

    <div class="br-header d-flex w-100">
        <a id="add-menu" class="la la-navicon d-flex d-xl-none align-items-center justify-content-center"></a>
        <div class="br-header-left">
            <a href="javascript:;" class="searchbar-toggle la la-search d-flex d-md-none" dir="rtl"></a>
            <form class="searchbar d-flex align-items-center pl-4">
                <i class="la la-search"></i>
                <input class="form-control border-0 pl-2" type="search" placeholder="جستجو ">
            </form>
        </div>

        <div class="br-header-right ml-auto">
            <nav class="nav">
                <div class="dropdown">
                    <a href="" class="nav-link position-relative dropdown-toggle waves-effect waves-primary" id="dropdownMSG" data-toggle="dropdown">
                        <i class="la la-envelope-o"></i>
                        <span class="badge badge-accent">2</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-header py-0" aria-labelledby="dropdownMSG">
                        <div class="dropdown-menu-label">
                            <label class="mb-0">Messages</label>
                            <button type="button" class="btn btn-primary btn-sm waves-effect waves-primary">
                                View
                                all
                            </button>
                        </div>
                        <div class="dropdown-divider my-0"></div>
                        <div class="media-list">

                        </div>

                    </div>
                </div>
                <div class="dropdown">
                    <a href="" class="nav-link-profile d-flex dropdown-toggle" data-toggle="dropdown" id="dropdownprofile">
                        <img src="~/images/ImageSite/img3.jpg" class="rounded" alt="" width="50">
                        <span class="logged-name px-3">Zahir Patel <br><small class="pt-3">Founder</small></span>
                        <i class="profile-dropdown la la-caret-square-o-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-header dropdown-menu-user" aria-labelledby="dropdownprofile">
                        <div class="text-center">
                            <a href="">
                                <img src="~/images/ImageSite/img3.jpg" width="80" class="rounded-circle" alt="">
                            </a>
                            <h6 class="logged-fullname font-weight-bold mt-2">مان</h6>
                            <p class="my-0">youremail@domain.com</p>
                        </div>
                        <hr>
                        <ul class="list-unstyled user-profile-nav">
                            <li>
                                <a href="javascript:;" class=" waves-effect waves-light">
                                    <i class="la la-user"></i>
                                    Edit Profile
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class=" waves-effect waves-light">
                                    <i class="la la-cog"></i>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class=" waves-effect waves-light">
                                    <i class="la la-download">
                                    </i> Downloads
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class=" waves-effect waves-light">
                                    <i class="la la-star-o">
                                    </i> Favorites
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class=" waves-effect waves-light">
                                    <i class="la la-file"></i>
                                    Collections
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class=" waves-effect waves-light">
                                    <i class="la la-power-off">
                                    </i> Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
