<div class="br-sideleft">
    <a id="remove-menu" class="la la-close d-xl-none"></a>
    <div class="br-logo d-flex justify-content-center align-items-center">
        <a href="/">
            <img src="~/images/ImageSite/logo.png" alt="مان" width="80" />
        </a>
    </div>
    <ul class="custom-scroll">
        <li class="active">
            <a href="/Admin/Admin" class="waves-effect waves-primary">
                <i class="la la-dashboard">
                </i>داشبورد
            </a>
        </li>
        <li class="dropdown-sub-menu">
            <a href="/Admin/About" class="waves-effect waves-primary">
                <i class="la la-info"></i>درباره ما
            </a>
        </li>
        <li>
            <a href="/Admin/ProjectGroups" class="waves-effect waves-primary">
                <i class="la la-th-list"></i>دسته بندی
            </a>
        </li>
        <li>
            <a href="/Admin/Projects" class="waves-effect waves-primary">
            <i class="la la-archive"></i>نمونه کار
            </a>
        </li>
        <li>
            <a href="javascript:;" class="waves-effect waves-primary">
                <i class="la la-wechat"></i>
                پیام ها
            </a>
        </li>
    </ul>
</div>
