@model MySite.Models.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "تغییر کلمه عبور";
}


    <div class="text-center m-3" dir="rtl">
        @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                <div class="form-group mb-4">
                    <label class = "control-label  text-dark" >کلمه عبور</label>
                    <div class="input-group border border-light">
                        <input name="UserPassword" id="password-field" type="password" class="form-control input-h-42 bg-light" placeholder="کلمه عبور" aria-label="Password">
                        <div class="input-group-prepend">
                            <span toggle="#password-field" class="input-group-text la la-eye" id="Password"></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-4">
                    <label class="control-label  text-dark"> تکرار کلمه عبور</label>
                    <div class="input-group border border-light">
                        <input name="ReUserPassword" id="password-field" type="password" class="form-control input-h-42 bg-light" placeholder="تکرار کلمه عبور" aria-label="Password">
                        <div class="input-group-prepend">
                            <span toggle="#password-field" class="input-group-text la la-eye" id="Password"></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.ReUserPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group ">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-outline-success waves-effect waves-green">ذخیره</button>
                        <a href="@Url.Action("Index")" class="btn btn-outline-danger waves-effect waves-green">بازگشت</a>
                    </div>
                </div>
            </div>
        }
    </div>