@{
    ViewBag.Title = "پنل ادمین";
}
<div class="text-center m-5  h-100" dir="rtl">
    <img style="width: 40%"  class="img img-fluid p-5" src="~/images/ImageSite/logo.png"/>
    <div>
        <h2 class="font-weight-bolder text-primary mt-4 pt-5">مان ارتباط</h2>
    </div>
</div>
