<section class="contact-section section-padding pb-5" id="section_5">
    <div class="container">
        <div class="row" dir="rtl">
            <div class="col-12 mx-auto mt-5 mt-lg-0  text-center" style="height: 450PX">
            </div>
        </div>
    </div>
</section>