@model IEnumerable<MySite.Models.Model.ProjectGroups>

<section class="barista-section section-padding section-bg" id="project_groups">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                <em class="text-white">man.com</em>
                <h2 class="text-white">زمینه کاری ما</h2>
            </div>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 col-12 mb-4">
                        <div class="team-block-wrap">
                            <div class="team-block-info">
                                <div class=" mb-3">
                                     <h2 style="" class="text-white mb-0 titleGroup">@item.GroupName</h2> 
                                </div>
                                @* <p class="text-white mb-0">your favourite coffee daily lives.</p> *@
                            </div>
                            <div class="team-block-image-wrap">
                                <img src="~/images/ImageGroups/@item.GroupImage" class="team-block-image img-fluid" alt="@item.GroupName">
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>