@model IEnumerable<MySite.Models.Model.Project>
<section class="menu-section section-padding" id="section_3">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 mb-lg-0">
                <div class="menu-block-wrap">
                    <div class="text-center mb-4 pb-lg-2">
                        <em class="text-white">man.com</em>
                        <h4 class="text-white">نمونه کارها</h4>
                    </div>
                    <div class="row justify-content-center">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info">
                                        <div class=" mb-3">
                                            <h2 style="" class="text-white mb-0 titleGroup">@item.TitleProject</h2> 
                                        </div>
                                    </div>
                                    <div class="team-block-image-wrap">
                                        <img src="~/images/ImageProject/@item.ImageProject" class="team-block-image img-fluid" alt="@item.TitleProject">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
